@model List<BlogVM>

<div class="blog-section section bg-gray pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Christmas Blog</h1>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model)
            {
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    <a href="#" class="image">
                        <img src="~/img/@blog.Image" alt="blog" />
                    </a>
                    <div class="content fix">
                        <span class="publish">
                            <span>Published on:</span> @blog.PublishedDate.ToString("dd MMM yyyy")
                        </span>
                        <h4 class="title">
                            <a href="#">@blog.Title</a>
                        </h4>
                        <p>@blog.Description</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
