
@model CustomerReviewsVMVC

<div class="testimonial-section section bg-gray pt-100 pb-65" style="background-image: url(img/bg/testimonial.png)">
    <div class="container">

        <!-- Section Title Start-->
        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Customer Reviews</h1>
            </div>
        </div><!-- Section Title End-->

        <div class="row">
            <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">

                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider text-center">

                    @foreach (var item in Model.Customers)
                    {
                        @foreach (var review in item.Reviews)
                        {
                            <div class="single-testimonial">
                                <img src="/img/@item.Image" alt="customer">
                                <p>@review.Description</p>
                                <h5>@item.FullName</h5>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>