
<div class="testimonial-section section bg-gray pt-100 pb-65" style="background-image: url(img/bg/testimonial.png)">
    <div class="container">

        <!-- Section Title Start-->
        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Customer Reviews</h1>
            </div>
        </div><!-- Section Title End-->

        <div class="row">
            <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">

                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider text-center">

                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="img/testimonial/1.jpg" alt="customer">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                        <h5>Betty Moore</h5>
                    </div>

                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="img/testimonial/1.jpg" alt="customer">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                        <h5>Betty Moore</h5>
                    </div>

                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="img/testimonial/1.jpg" alt="customer">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                        <h5>Betty Moore</h5>
                    </div>

                </div><!-- Testimonial Slider End -->

            </div>
        </div>

    </div>
</div>