
<div class="banner-section section pt-120">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-30">

                <div class="single-banner">
                    <img src="img/banner/1.jpg" alt="banner">
                    <div class="banner-content right">
                        <h1 class="white"><span>Gifts</span>Christmas</h1>
                        <a href="#" class="button">Shop Now</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-12 mb-30">

                <div class="single-banner">
                    <img src="img/banner/2.jpg" alt="banner">
                    <div class="banner-content left">
                        <h2 class="black"><span class="small">Save <span class="red">25%</span></span><span class="red">Offer</span> Christmas</h2>
                        <a href="#" class="link">Shop Now</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>