@model SliderInfoDetailVM

<div class="container mt-5">
    <h2> Discount:@Model.Discount</h2>
    <h2>Title:@Model.Title</h2>
    <h2>Description:@Model.Description</h2>
    <a asp-action="Index" class="btn btn-light mt-3">Back</a>
</div>
