@model ProductCreateVM

<form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>

        <label asp-for="CategoryId">Choose Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(ViewBag.Categories)">
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>

        <input asp-for="Images" class="form-control" id="products" multiple />
        <span class="text-danger" asp-validation-for="Images"></span>
    </div>

    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>
