
@model List<SliderComponentVM>

<div class="hero-slider section fix">
    @foreach (var item in Model)
    {
        <div class="hero-item" style="background-image: url(/img/@item.Image)">
            <div class="hero-content text-center m-auto">
                <h2>@item.Discount%</h2>
                <h1>@item.Title</h1>
                <p>@item.Description</p>
                <a href="#">LEARN MORE</a>
            </div>
        </div>
    }
</div>
