@model ReviewDetailVM

<div class="container mt-5">
    <h2 class="mb-3">Review Detail</h2>

    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Customer:</strong> @Model.CustomerFullName</p>

    <a asp-action="Index" class="btn btn-light mt-4">Back</a>
</div>
