
<div class="client-section section pb-90">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="client-slider text-center">

                    <!-- Single Client -->
                    <div class="single-client"><img src="img/client/1.png" alt="client"></div>
                    <div class="single-client"><img src="img/client/2.png" alt="client"></div>
                    <div class="single-client"><img src="img/client/3.png" alt="client"></div>
                    <div class="single-client"><img src="img/client/4.png" alt="client"></div>
                    <div class="single-client"><img src="img/client/5.png" alt="client"></div>
                    <div class="single-client"><img src="img/client/6.png" alt="client"></div>

                </div>

            </div>
        </div>
    </div>
</div>