
<div class="team-section section pb-120">
    <div class="container">

        <div class="row">
            <div class="section-title text-center col mb-60">
                <h1>Our Team</h1>
            </div>
        </div>

        <div class="team-wrapper row">

            <div class="single-team col-lg-3 col-md-6 col-12">
                <img src="img/team/1.jpg" alt="team">
                <div class="content">
                    <h4>Terry Soto</h4>
                    <span>CEO</span>
                </div>
            </div>

            <div class="single-team col-lg-3 col-md-6 col-12">
                <img src="img/team/2.jpg" alt="team">
                <div class="content">
                    <h4>Maria Lane</h4>
                    <span>Marketer</span>
                </div>
            </div>

            <div class="single-team col-lg-3 col-md-6 col-12">
                <img src="img/team/3.jpg" alt="team">
                <div class="content">
                    <h4>Justin Evans</h4>
                    <span>developer</span>
                </div>
            </div>

            <div class="single-team col-lg-3 col-md-6 col-12">
                <img src="img/team/4.jpg" alt="team">
                <div class="content">
                    <h4>Rose Dixon</h4>
                    <span>Designer</span>
                </div>
            </div>

        </div>
    </div>
</div>