
<div class="funfact-section section pb-90">
    <div class="container">
        <div class="row">

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-users"></i>
                    <h2 class="counter">110</h2>
                    <p>Happy Clients</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-trophy"></i>
                    <h2 class="counter">90</h2>
                    <p>Award Winning</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-thumbs-up"></i>
                    <h2 class="counter">230</h2>
                    <p>Project Done</p>
                </div>
            </div>

            <!-- Single Fact -->
            <div class="single-fact text-center col-sm-3 col-6 mb-30">
                <div class="wrap">
                    <i class="fa fa-coffee"></i>
                    <h2 class="counter">350</h2>
                    <p>Cups of Coffee</p>
                </div>
            </div>

        </div>
    </div>
</div>