
<div class="newsletter-section section pt-100 pb-120">
    <div class="container">

        <!-- Section Title Start-->
        <div class="row">
            <div class="section-title text-center col mb-55">
                <h1>Newsletter</h1>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
            </div>
        </div><!-- Section Title End-->

        <div class="row">
            <div class="text-center col">

                <!-- Newsletter Form -->
                <form method="post" action="/Newsletter/Subscribe" class="subscribe-form validate" novalidate>
                    <label for="email" class="d-none">Subscribe to our mailing list</label>
                    <input type="email" name="email" class="email" id="email" placeholder="Your email address" required>
                    <button type="submit" class="button">Subscribe</button>
                </form>

            </div>
        </div>

    </div>
</div>
